html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #FFFFFF;
  height: 100%;
}
body{
  height:100%;
  overflow: auto;
  position: relative;
  background: #f4f6f9;
  font-size: 16px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
/* table, */
caption,
/* tbody,
tfoot,
thead,
tr,
th,
td, */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-family: "PingFang SC","å®‹ä½“","Lantinghei SC","Helvetica Neue","Microsoft YaHei","STHeitiSC-Light","sans-serif";
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ::-webkit-scrollbar {display:none} */
body {

}
img,
object {
  vertical-align: top;
}
textarea,
input {
  outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  *outline: expression(this.hideFocus=true);
}

a:visited {
  /*color: #787878;*/
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.el-custom-input-width200{
  width: 200px!important;
}
.el-custom-input-width100{
  width: 100px!important;
}

.el-form-item{
  margin-bottom:10px!important;
}